/* .faq-container {
  margin-top: 40px;
  padding: 32px 79px;
} */

.heading {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin-top: 40px;
  /* padding: 32px 79px; */
  
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
}

.faq-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.faq-item {
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
}

.faq-question {
  width: 100%;
  max-width: 600px;
  background: black;
  color: white;
  /* padding: 16px; */
  text-align: left;
  font-size: 1.2rem;
  font-weight: 560;
  border: 1px solid white;
  outline: none;
  cursor: pointer;

  border-radius: 8px;
}

.faq-answer {
  padding: 16px;
  font-size: 0.96rem;
  font-weight: 400;
  color: #ddd;
  line-height: 1.5;
}

.text-bottom {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  
}



@media (max-width: 576px) {
  /* .faq-container {
    width: 100%;
  } */
  .heading {
    font-size: 24px;
  }

  .faq-question {
    font-size: 0.8rem;
  }

  .text-bottom{
    font-size: 0.7rem
  }
}
