
.price-container {
  width: 100%;
  display: block;
  margin: 60px auto;

}
.price-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .price-row {
    flex-direction: row;
    justify-content: space-evenly;
   
  }
}


.price {
  max-width: 500px;
 
  margin: 1rem 2rem 1.25rem 2rem; 
  height: 100%;
  border-radius: 1.875rem;
  border: 2px solid #005560; 
  color: white;
  background-color: black;
  box-sizing: border-box;
  position: relative;
}




.opacity-zero {
  opacity: 0;
  pointer-events: none;
}

/* Content */
.price-content {
  padding: 1.75rem 1.75rem 0 1.75rem;



}
.price-title {
  font-weight: 600;
  font-size: 1.875rem; 
  margin-bottom: 1rem;
}
.price-subtitle {
  font-weight: 400;
  font-size: 1rem; 
  margin-left: 0.75rem;
}
.price-desc {
  font-weight: 300;
  font-size: 1.125rem; 
  margin-bottom: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
    width: 100%;
}
.price-price {
  font-weight: 600;
  font-size: 1.5rem; 
  margin-bottom: 1rem;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
/* Buttons */
.price-button {
  font-weight: 700;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  width: 75%;
  font-size: 1.25rem;
  cursor: pointer;
}


.try-for-free {
  border: none;
  color: black;
  background-image: linear-gradient(rgb(255, 255, 255) 60.19%, rgb(0, 0, 0) 325.69%);
}
.get-plus {
   border: none;
  color: black;
  background-image: linear-gradient(rgb(255, 255, 255) 60.19%, rgb(0, 0, 0) 325.69%);
}
.be-a-pro {
   border: none;
  color: black;
  background-image: linear-gradient(
    rgb(255, 255, 255) -225.69%,
    rgb(1, 221, 233) 35.95%,
    rgb(55, 0, 62) 141.48%
  );
}

/* Features */
.price-features {
  margin-top: 1.5rem;
  padding: 1.25rem 1.25rem;
  border-top: 1px solid #005560; 
  border-left: 1px solid #005560;
  border-right: 1px solid #005560;
  border-bottom: 1px solid #005560;
  border-radius: 1.35rem 1.35rem 1.35rem 1.35rem;
  font-weight: 500;
  font-size: 1.1rem; 
  line-height: 2.4rem;
  color: white;
}
.price-features p {
  margin: 0.5rem 0;
}
.ms-3 {
  margin-left: 0.75rem;
}

.btn {
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 400;
  
  
  margin: 0px auto;

  margin-top: -2px;
  margin-bottom: 20px;
}

.user-count-container {
  height: 4rem;
  margin-bottom: 0.75rem; 
  width: 100%;
}

.user-count-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.user-count-content {
  width: 75%;
}

.user-count-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem; 
  color: white;
}

.user-btn-disabled {
  margin-left: 0.5rem; 
  margin-right: 0.5rem;
  padding: 0.5rem 1rem; 
  border: 1px solid;
  border-radius: 0.5rem; 
  font-size: 1.5rem; 
  color: white;
  cursor: default;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-btn-active {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  /* background-color: black; */
  background-color: transparent;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.user-btn-active:hover {
  background-color: var(--krutNeon, #00fff0);
  color: black;
  border: black;
}

.user-btn-disabled:hover {
  background-color: var(--krutNeon, #00fff0);
  color: black;
  border: black;
}



.user-count-number {
  min-width: 3.5rem; 
  text-align: center;
  font-size: 1.5rem; 
  font-weight: bold;
}

@media (min-width: 1280px) {
  .user-count-number {
    min-width: 4rem; 
  }
}

.user-contact {
  text-align: center;
}

.text-sm {
  font-size: 0.875rem;
}

.text-krutNeon {
  color: var(--krutNeon, #00fff0);
  cursor: pointer;
}

.text-transparent {
  color: transparent;
}

.text-xs {
  font-size: 0.75rem;
}

.visibility{
  visibility: hidden;
}

