.price-heading h1{
    font-size: 96px;
    font-weight: 700;
    padding: 40px ;
    
}

.pricing-container{
    padding: 40px ;
    width: 300px;
}

@media  (max-width:750px) {
    .price-heading h1{
        font-size: 70px;
    }
}

@media (max-width:570px){
    .price-heading h1{
        font-size: 35px;
    }
}

.price-taxes{
    width: 85vw;
    border: 1px solid #00626D;
    border-left: 8px solid #00626D;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    gap: 1rem;
    display: flex;
    align-items: flex-start;
    position: relative;
}

@media (min-width: 1024px) {
  .pricing-container {
    width: 400px;
  }
}

.tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 1.7rem; */
  background: #f9f9f9;
  border-radius: 89px;
  padding: 0 ;
  overflow: hidden;
  color: black;
}

.tab-radio {
  display: none; 
}


.tab {
  height: 40px;     
  display: flex;
  align-items: center;
  padding: 0 24px;  
  font-size: 1.5rem; 
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s;
  position: relative;
  z-index: 2;
  user-select: none;
}
@media (min-width: 640px) {
  .tab {
    height: 48px;    /* sm:h-12 */
  }
}
@media (min-width: 1024px) {
  .tab {
    font-size: 1.25rem; /* lg:text-xl */
  }
}

.tab-radio:checked + .tab {
  
  font-weight: 700;
}

.discount {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #20598a;
}

.font-normal {
  font-weight: 400;
}
.px-0-5 {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

/* Glider - the tab underline/indicator */
.glider {
  position: absolute;
  bottom: 0;
  /* left: 4px; */
  width: calc(52% - 4px);
  height: 40px;
  background: #00D4EF;
  border-radius: 89px;
  transition: left 0.3s;
  z-index: 1;
}
@media (min-width: 640px) {
  .glider {
    height: 48px;
  }
}

.left {
  left: 0px;
}
.right {
  left: calc(50% + 4px);
}



.price-currency
{
padding: 0 32px;

}

@media (max-width:1000px){
    .price-currency{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}
.currency-select {
  border-radius: 0.5rem;        
  padding: 0.375rem 2rem;        
  background: transparent;        
  border: 1px solid #00fff0;     
  color: white;                  
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
  appearance: none;
  min-width: 100px;
  position: absolute;
  right: 50px;
  margin-left: 40px;
  margin-right: 40px;
   
}

@media (max-width:1000px){
    .currency-select{
        position: unset;
    }
}

.currency-select:focus {
  border-color: #08fff7;         
}

.currency-select option {
  color: black;
  background: white;
  font-size: 1rem;
}